
#Imagenes dataset
reconocedor_rostros/capturas
# Recocimiento_Wally/dataset
CNN/imgs

#Videos dataset
CNN/videos

#Archivos pesados
*.xml
*.rar
*.zip

#Entorno Virtual
venv

#Archivos clase
notas.txt
